*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Res/background.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nameLogo{
    width: 150px;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFDF50;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header_text{
    margin-top: 20%;
    font-size: 20px;
    text-align: left;
}
.header_text p{
    color: #FFDF50;
    font-weight: bold;
}
.header_text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header_text h1 span{
    color:#FFDF50
}
#about{
    padding: 80px 0;
    color: #FFF;
    background-image: url(Res/background.jpg);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 30px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #FFDF50;
}
.description{
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFDF50;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 10px;
    font-weight: bold;
}
.tab-contents ul li span{
    color: #FFDF50;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#portfolio{
    padding: 50px 0;
    background-image: url(Res/background.jpg);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work1{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work1 img{
    width: 100%;
    height: 210px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work2{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work2 img{
    width: 100%;
    height: 210px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work3{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work3 img{
    width: 100%;
    height: 210px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work4{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work4 img{
    width: 100%;
    height: 210px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #080808);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pad: 0 40px;
    text-align: center;   
}
.layer h3{
    font-weight: bold;
    margin-top: 10px;
}
.layer a{
    margin-top: 10px;
    color: #FFDF50;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    background: #FFDF50;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.work1:hover img{
    transform: scale(1.1);
}
.work2:hover img{
    transform: scale(1.1);
}
.work3:hover img{
    transform: scale(1.1);
}
.work4:hover img{
    transform: scale(1.1);
}
.work1:hover .layer{
    height: 100%;
    transition: 0.2s;
}
.work2:hover .layer{
    height: 100%;
    transition: 0.2s;
}
.work3:hover .layer{
    height: 100%;
    transition: 0.2s;
}
.work4:hover .layer{
    height: 100%;
    transition: 0.2s;
}
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FFDF50;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFF;
    transition: background 0.5s;
}
.button:hover{
    background: #FFDF50;
}
.contact{
    background-image: url(Res/background.jpg);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 10px;
    font-weight: bold;
}
.social-icons a img{
    text-decoration: none;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 10%;
    height: 10%;
    transition: transform 0.5s;
}
.social-icons a img:hover{
    transform: scale(1.1);
}